.navbar { 
	display: flex;
	background-color: black;
	color: white;
	margin: 10px;
	padding: 30px;
	flex-flow: row nowrap;
}

.flexbox-container {  
	display: flex;
}

.flexbox-container-nav {  
	display: flex;
	justify-content: center;
	align-items: center;
}


.header { grid-area: header;
  height: 100vh;}

.articles { grid-area: articles; }

.sidebar { grid-area: sidebar; }

.footer { grid-area: footer; }
