/*General styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .menu-area h3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: darkslategrey;
    height: 60px;
    font-family:Arial;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  .menu-area a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: darkslategrey;
    height: 60px;
    font-family:Arial;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  .menu-area a:hover{
    background: tomato;
    color: #fff;
  }
  .menu-area ul{
    list-style: none;
    display: flex;
  }
  .menu-area li{
    position: relative;
    width: 100%;
    text-align: center;
  }
  .menu-area li:hover .dropdown-1 > li{
    display: block;
    top: 0;
  }
  .dropdown-1 li{
    display: none;
    position: relative;
  }
  .dropdown-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .dropdown-1 li:hover .dropdown-2 li{
    display: block;
  }
  .dropdown-2 li{
    display: none;
  }
  .dropdown-2{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
  }
  .hero{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://philadelphiatheatrecompany.org/wp-content/uploads/2012/01/seats.png);
    background-size:cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh
  }
  .hero h1 {
      text-transform: uppercase;
      color: #fff;
      font-size: 100px;
      font-family: Arial;
      letter-spacing: 2px;
  }